*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Yusei Magic", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}

#home,
#info,
#expo,
#cuisine,
#contact{
    width: 100%;
    height: 100vh;
}

.main-container{
    padding-right: 0;
    padding-left: 0;
}

/*----- Navbar------------------------*/
.bg-light {
  background-color: #36627d !important;
  z-index: 2;
}

.navbar-light .navbar-nav .nav-link {
    color: #00050a;
    font-size: 1.5em;
    margin-left: 0.75em;
}

.navbar-light .navbar-nav .active .nav-link {
  color: #000000;
}


#logo{
    height: 40px;
    width: 40px;
}

/*-------------------Landing Page -------------------*/
#home{
    margin-top: -80px;
}

.video-content {
     text-align: center;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.video-wrap video{
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.video-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
   background: #225470;
    z-index: 1;
    opacity: 0.85;
}



.video-content{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}
/*------------Information Page------------------*/
#info{
    background: #225470;
}

.info-row{
    padding-top: 85px;
}

#box1,
#box2{
    height: 70vh;
    width: 100%;
    border: 2px solid blue;
    margin-top: 5%;
    margin-bottom: 5%;
}

#box


/*-------------Explore page------------*/

/*-----------------------Footer------------*/
#footer{
    height: auto;
    width: 100%;
    background-color: #24537005;
    text-align: center;
    background-color: darkcyan;
    position: absolute;
}

.footer-text{
    margin-bottom: 3px;
}

/*------------------Media Queries--------*/
@media screen and (max-width: 992px){
    .navbar-nav{
        margin-top: -55px;
    }
}

/* @media screen and (max-width: 576px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
  }
} */

