*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}
/*---------------Specials---------------*/
.heading{
    font-family: "Yusei Magic", sans-serif;
    font-size: 1.75em;
}

.heading-sub{
     font-family: "Ovo", sans-serif;
    font-size: 1em;
}


#home,
#info,
#expo,
#contact{
    width: 100vw;
    height: auto;
}

.main-container{
    padding-right: 0;
    padding-left: 0;
}

/*----------------Navbar------------------------*/
.bg-light {
  background-color: #36627d !important;
  z-index: 2;
  width: 100vw;
}

.navbar-light .navbar-nav .nav-link {
    color: #00050a;
    font-size: 1.5em;
    margin-left: 0.75em;
}

.navbar-light .navbar-nav .active .nav-link {
  color: #000000;
}


#logo{
    height: 40px;
    width: 40px;
}

/*-------------------Landing Page -------------------*/
.video-content {
     text-align: center;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.video-wrap video{
    min-width: 100vw;
    min-height: 105vh;
    overflow: hidden;
}

.video-overlay{
    height: 105vh;
    width: 100vw;
    position: absolute;
    background: #225470;
    z-index: 1;
    opacity: 0.85;
}



.video-content{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}
/*------------------Information Page------------------*/
#info{
    background: url("../images/lake2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper-text{
padding-top: 2%;
    margin-bottom: -6%;
    padding-right: 30px;
    padding-left: 20px;
}

.heading-info{
    text-align: center;
    padding-bottom: 2%;
}

.container-carousel{
    padding-top: 8%;
    padding-left: 0;
}

#carouseIndicators {
    padding-top: 10%;
    }

.col-text1{
    background: #d4bfaf;
}

.col-text2{
    background: rgb(126, 207, 116);
}

.col-text3{
    background: rgb(173, 55, 81);
}

.col-text4{
    background: rgb(170 173 191 / 78%);
}

.col-text5{
    background: rgba(200, 92, 243, 0.781);
}

.col-text6{
    background: rgba(197, 218, 78, 0.781);
}

.heading-carousel{
    margin-left: 5%;
    padding-top: 8%;
}

.heading-sub-carousel{
    padding-right: 10px;
    padding-left: 5%;
    padding-top: 3%;
}
/*--------------------------Explore page-----------------------*/
#expo{
    padding-left: 0;
    padding-right: 0;
   background-color: #ed6663;
}

.wrapper-expo{
    text-align: start;
    margin-left: 4%;
     margin-bottom: 0;
}


.container-expo{
padding-top: 2em;
padding-bottom: 10%;
}


.heading-place{
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto; 
    text-align: start;
}

 .circle{
   height: 350px;
   width: 350px;
   border-radius: 100%;
    border: 15px solid rgb(175, 13, 13);
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    margin-bottom: 100px;
} 

/*-START--Purpose of this code is to only make circle responsive (code taken from youtube video of zFunx Web Developement Ideas(https://www.youtube.com/watch?v=R7OcJyL_rbw)and modified as per project requirement--START--*/
.circle:after{
    content: "";
    padding-bottom: 50%;
    display: block;
}
/*--END--code taken from youtube video of zFunx Web Developement Ideas(https://www.youtube.com/watch?v=R7OcJyL_rbw) and modified as per project requirement--*/

.btn{
   height: 40px;
    width: 180px;
    border: none;
    color: #001305;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 15px;
    margin-right: 15px;

    /* margin: 10px;
    cursor: pointer; 
    text-align: center;
    padding-top: 0.85em;
    display: flex;
    float: right; */
}

.button-places{
    margin-bottom: 20px;
}

#map{
    height: 320px;
    width: 100%;
    border: 2px solid white;
    margin-left: -5px;
}

/*-------------------------------Contact Page-------------------*/
#contact{
    background: url("../images/village.jpg");
    }

.container-form{
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-top: 10%;
    padding-bottom: 10%;
}

.form-row{
    padding-right: 0;
    padding-left: -5px;
}

.col-heading{
    padding-top: 5px;
    background: #f0f8ffba;
}

.caption{
    padding-left: 45px;
}

.heading-form{
    padding-top: 30px;
    font-size: 1.5em;
   
}

.heading-sub-form{
    padding-top: 20px;
}

.icon i {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px;
}

.mail .icon{
margin-right: 5px;
}

.social-media-heading{
    padding-top: 80px;
    font-style: italic;
}

.social-media{
    padding-top: 40px;
    padding-bottom: 20px;
}

.social-media a i  {
    margin-right: 60px;
    font-size: 40px;
    text-decoration: black;
}

.col-form{
    background-color:  rgb(50 96 55);

}

label{
    display: flex;
}

/*Code taken from youtube video of True Coder (https://www.youtube.com/watch?v=rpujWVkmiPE) and modified as per project requirement--START-- */

.contact-form::before{
   content: "";
    position: absolute;
    background-color:  rgb(50 96 55);
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    top: 38px;
    left: -2%;
}

/*Code taken from youtube video of True Coder (https://www.youtube.com/watch?v=rpujWVkmiPE) and modified as per project requirement--END-- */

 input {
    overflow: visible;
    width: 80%;
    height: 50px;
    border-radius: 17px;
    padding-left: 20px;
 }

form{
    padding: 2em 2.5em;
    position: relative;
}


textarea {
    overflow: auto;
    resize: none;
    height: 180px;
    width: 80%;
    border-radius: 22px;
}

#subject{
padding-left: 20px;
padding-top: 15px;
}

.btn-form{
    height: 40px;
    border-radius: 10%;
    width: 80px;
    border: 2px solid #d8e4d8;
    color: #001305;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    padding-top: 0.85em;
}

/*-----------------------Footer------------*/
#footer{
    height: auto;
    width: 100%;
    background-color: #24537005;
    text-align: center;
    background-color: darkcyan;
    position: absolute;
}

.footer-text{
    margin-bottom: 3px;
}

/*------------------Media Queries--------*/

@media screen and (max-width: 992px){
    .navbar-nav{
        margin-top: -55px;
    }
}

/*Code taken from youtube video of True Coder (https://www.youtube.com/watch?v=rpujWVkmiPE) and modified as per project requirement --START-- */
@media screen and (max-width: 767px){
    .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }
}
/*Code taken from youtube video of True Coder (https://www.youtube.com/watch?v=rpujWVkmiPE) and modified as per project requirement --END-- */

